{%load static%}
<html>
    <head>
        <title>Hemant_Frontend</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
      
    </head>
    <body>
        <a href="url" class ="searchbar">Search for products</a>
        <div class="box">
            <div>
                <h1 class="white1">Flybuy</h1>
                <img src="https://media-public.canva.com/MADpjlnZc04/2/thumbnail_large.png" class="bag">
                <a href="home" class="white2">Home</a>       
                <img src="https://media-public.canva.com/MACqWDCQKCM/1/thumbnail_large.png" class="location">  
                <a href="https://www.google.com" class="white3">Select City</a>
                <a href="url" class="white4">My cart</a>
                <a href="url" class="white5">Login</a>
                <a href="url" class="white6">Sign Up</a>
            </div>
            <div class="Fruit"></div>
            <a href="url" class ="fruit">Fruits</a>
            <div class="Personal"></div>
            <a href="url" class ="personal">Personal Care</a>
            <div class="Cleanising"></div>
            <a href="url" class ="cleanising">Cleanising</a>
            <div>
                <img src="https://media-public.canva.com/MADew_WjhQs/1/thumbnail_large.png" class="search">
                <img src="https://media-public.canva.com/7NImo/MADxgr7NImo/1/tl.png" class ="man">
                <img src="https://media-public.canva.com/MADWmke3AVk/1/thumbnail_large.png" class ="wave">
                <img src="https://media-public.canva.com/N5__E/MAD2U8N5__E/1/tl.png" class ="store">
            </div>
            <div class="border"></div>
            <h1 class="quote">We love to serve you</h1>
            <h1 class="about">About Us</h1>
            <p class="par"> Did you ever imagine that the freshest of fruits and vegetables,
                 top quality pulses and food grains, dairy products and hundreds
                  of branded items could be handpicked and delivered to your home, 
                  all at the click of a button? India’s first comprehensive online megastore,
                   flybuy.com, brings a whopping 20000+ products with more than 1000 brands,
                    to over 4 million happy customers. From household cleaning products to beauty 
                    and makeup, bigbasket has everything you need for your daily needs.
                     bigbasket.com is convenience personified We’ve taken away all the stress
                      associated with shopping for daily essentials, and you can now order
                       all your household products and even buy groceries online without 
                       travelling long distances or standing in serpentine queues. 
                       Add to this the convenience of finding all your requirements at one single source, 
                       along with great savings, and you will realize that flybuy- 
                       India’s largest online supermarket, has revolutionized the way India shops for groceries
                . Online grocery shopping has never been easier.
            </p>
        </div>
    </body>
</html>